htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
__pycache__
media
.bak

# Translations
*.mo
*.pot

# Django stuff:
*.log
db.sqlite3

# Environments
env/
.env

# Media and Static directories
directory/media/*
!/media/.gitkeep

/static/
!/static/.gitkeep

# Secrets
secrets.json

# Log files
*.log
