html, body {
 margin: 0;
 padding: 0;
}

body {
 min-height: 100vh;
}

nav {
 min-height: 10vh;
 border-bottom: 0.25px solid #DCDCDC;
}

.content-wrapper {
 min-height: 80vh;
 max-width: 500px;
 margin: 50px auto;
}

.content-wrapper card {
  max-width: 400px;
  min-height: 450px;
  margin: 30px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  padding: 0.8rem;
}


footer {
 min-height: 10vh;
 border-top: 0.25px solid #DCDCDC;
}
