/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

section{
  margin: 20px;	
}
ul {
  list-style: none;
}

.d-flex {
	display: flex !important;
}

.container {
	width: 100%;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
	margin-right: auto;
	margin-left: auto;
}

.header {
  margin-left : 0rem;
  width: 100%;
  height: 100vh;
  background: url("/static/core/img/1.jpg");
  background-size: cover;
}

.company-header {
	display: flex;
	justify-content: space-between;
}
/*      navbar    */
nav{
  margin: 1rem;
}

.circle-singleline {
  margin: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    background: #808080;
    color: #fff;
}

/*     banner     */
.banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  width: 50%;
  margin-top: auto;
}

.banner-heading {
	font-family: Cambria;
	font-size: 60px;
	font-weight: 400;
	margin: 10px;
}

.banner-paragraph {
	font-size: 19px;
	display: block;
	margin: 10px;
}

.banner-form {
	margin: 10px;
}
/*     end banner     */

/*        footer       */
.footer {
}

.footer-main-part{
	display: flex;
	justify-content: space-between;
    padding: 4rem;
}

.footer-header{
	font-size: 2.5rem;
	font-weight: 300;
	color: goldenrod;
	margin: 1rem;
}

.footer-list{
	list-style: none;
	padding: 0;
}

.footer-list-item{
	margin-bottom: 0.75rem;
}
.footer-copyright{
}
/*      end footer       */
.table-company-list{
	padding: 10px;
	box-shadow: 5px 5px 10px #777;
	border-radius: 5px;
	border-style: ridge;
}
/*   Pricing   */
section.pricing {
	background: #007bff;
	background: linear-gradient(to right, #0062E6, #33AEFF);
  }
  
  .pricing .card {
	border: none;
	border-radius: 1rem;
	transition: all 0.2s;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
	margin: 1.5rem 0;
  }
  
  .pricing .card-title {
	margin: 0.5rem 0;
	font-size: 0.9rem;
	letter-spacing: .1rem;
	font-weight: bold;
  }
  
  .pricing .card-price {
	font-size: 3rem;
	margin: 0;
  }
  
  .pricing .card-price .period {
	font-size: 0.8rem;
  }
  
  .pricing ul li {
	margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
	opacity: 0.7;
  }
  
  .pricing .btn {
	font-size: 80%;
	border-radius: 5rem;
	letter-spacing: .1rem;
	font-weight: bold;
	padding: 1rem;
	opacity: 0.7;
	transition: all 0.2s;
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
	.pricing .card:hover {
	  margin-top: -.25rem;
	  margin-bottom: .25rem;
	  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
	}
	.pricing .card:hover .btn {
	  opacity: 1;
	}
  }
 /*  endpricing   */ 
   .loginform, .signupform {
	 width: 50%;
	 height: 50vh;
	 margin: 0 auto;
	}

   .signupform .card-footer {
	  display: flex;
	  justify-content: flex-start;
	}
   .card {
		position: relative;
		display: flex;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 1px solid #e3e6f0;
		border-radius: 0.35rem;
	  }
   #wrapper {
		display: flex;
		width: 100%;
		justify-content: space-between;
	  }

    aside > div {
		margin-top: 30px;
	}	  