{% extends "core/base.html" %}
{% block title %} Company List {% endblock %}
{% block content %}
  <div class="content m-4">
      <div class="companiesListHeader">
         <h1 class="mb-3" style="font-size: 40px"> Companies </h1>
          <h1> {{ companiesNumber }} Results</h1>
      </div>
      <div id="ClistWrapper">
        <!-- filter Sidebar -->
        <div id="ClistWrapper-filterbar" class="deactivate">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div id="accordion" role="tablist" aria-multiselectable="true">
              <div class="card">
                <div class="card-header" role="tab" id="keyData">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseKeyData" aria-expanded="true" aria-controls="collapse">
                      <i class="fas fa-database"></i>
                         key Data
                       <i class="fas fa-chevron-down pull-right"></i>
                    </a>

              </div>
                  <div id="collapseKeyData" class="collapse show" role="tabpanel" aria-labelledby="keyData">
                      <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
                    </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <i class="fas fa-calendar"></i>
                  Dates
                  <i class="fas fa-chevron-down pull-right"></i>
              </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <i class="fas fa-globe"></i>
                  Location
                  <i class="fas fa-chevron-down"></i>
              </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <i class="fas fa-industry"></i>
                  Industry
                  <i class="fas fa-chevron-down"></i>
              </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <i class="fas fa-coins"></i>
                  Financial
                  <i class="fas fa-chevron-down"></i>
              </div>
              </div>
            </div>
        </div>
        <!-- /#filter Sidebar -->

        <!-- page Content -->
        <div id="ClistWrapper-content">
           <div class="container-fluid">
               <div class="toggleVue mb-4">
          <div class="wrapper-content-top">
            <div class="togglefilter d-flex justify-content-end">
             <span id="filterButton" data-toggle="modal" data-target="#myModal" ><i class="fas fa-filter"></i></span>
            </div>
           <div class="d-flex justify-content-between">
              <button class="exportButton">Export csv </button>
              <div id="addColumnUI">
                <label class="p-2"><input type="checkbox" id="checkFoundedDate"/><span class="p-1">Founded Date</span></label>
                <label class="p-2"><input type="checkbox" id="checkCompanyType"/><span class="p-1">Company Type</span></label>
                <label class="p-2"><input type="checkbox" id="checkContact"/><span class="p-1">Contact</span></label>
                <label class="p-2"><input type="checkbox" id="checkImmatriculation"/><span class="p-1">Immatriculation</span></label>
                <label class="p-2"><input type="checkbox" id="checkEmployeNumb"/><span class="p-1">Number of Employe</span></label>
                <label class="p-2"><input type="checkbox" id="checkDirectors"/><span class="p-1">Directors</span></label>
              </div>
           </div>
          </div>
    </div>
               <table id="companytable" class="table table-hover" >
           <thead>
            <tr>
              <td><label><input type="checkbox" id="checkall" /><span> </span></label></td>
              <td> Name
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                  </svg>
              </td>
              <td> Industries </td>
              <td> Location </td>
              <td> Description </td>
              <td> Status</td>
              <td> Founded Date </td>
              <td> Company Type </td>
              <td> Contact </td>
              <td> Imm.No.</td>
              <td> Empl.No</td>
              <td> Directors </td>
              <td>
                  <span id="tableAddButton"><i class="fas fa-plus-circle"></i></i></span>
              </td>

            </tr>
           </thead>
           <tbody>
           {% for company in companies %}
              <tr>
                <td>
                    <label>
                        <input type="checkbox" />
                    </label>
                </td>
                <td>
                    <img src="{{ company.logo.url }}" width="30" height="30">
                    <a href="{{ company.get_absolute_url }}">{{ company.name }}</a>
                </td>
                <td>
                    {% for industrie in company.categories.all %}
                      <a href="{{ industrie.get_absolute_url }}"> <span class="badge bg-primary">{{ industrie.cat_name }} </span></a>
                    {% endfor %}
                </td>
                <td>
                    {{ company.contact.country }}, {{company.contact.city}}
                </td>
                <td>
                    {{ company.profile|truncatechars:30 }}
                </td>
                {% if company.operating_status == 'DI' %}
                  <td><span class="badge bg-danger">DISSOLVED</span></td>
                {% elif company.operating_status == 'AC'%}
                  <td><span class="badge bg-success">ACTIVE</span></td>
                {% elif company.operating_status == 'LI'%}
                  <td><span class="badge bg-warning">LIQUIDATION</span></td>
                {% elif company.operating_status == 'DO'%}
                  <td><span class="badge bg-info">DORMANT</span></td>
                {% endif %}
                <td>
                    {{ company.founded_date }}
                </td>
                <td>
                    {{ company.company_type }}
                </td>
                <td>
                   {{ company.contact.website }}
                </td>
                <td>
                   {{ company.immatriculation_numb }}
                </td>
                <td>
                    {{ company.employees_numb }}
                </td>
                <td>
                    {{ company.employes }}
                </td>
               </tr>
           {% endfor %}
           </tbody>
    </table>
           </div>
        </div>
        <!-- /#page Content -->
      </div>

  </div>
{% endblock %}
{% block js %}
    $(() => {
      $('td:nth-child(7)').hide();
      $('td:nth-child(8)').hide();
      $('td:nth-child(9)').hide();
      $('td:nth-child(10)').hide();
      $('td:nth-child(11)').hide();
      $('td:nth-child(12)').hide();
      $('#filteringUI').hide();
      $('#addColumnUI').hide();
      $('#checkall').on('click', () => {
        var checkedStatus = $('#checkall').prop("checked");
        $('#companytable tbody tr').find('td:first :checkbox').each(function () {  
        $(this).prop('checked', checkedStatus);
        });
      });
     $('#checkFoundedDate').on('click', () => {
       $('td:nth-child(7)').toggle();
      });
     $('#checkCompanyType').on('click', () => {
       $('td:nth-child(8)').toggle();
      });
     $('#checkContact').on('click', () => {
       $('td:nth-child(9)').toggle();
      });
     $('#checkImmatriculation').on('click', () => {
       $('td:nth-child(10)').toggle();
      });
     $('#checkEmployeNumb').on('click', () => {
       $('td:nth-child(11)').toggle();
      });
     $('#checkDirectors').on('click', () => {
       $('td:nth-child(12)').toggle();
      });
      // when checkbox is check export button appears.
      // when filter button click toggle filter part
     $('#filterButton').on('click', () => {
       $('#filteringUI').toggle();
     });
     // Add chosen table column
     $('#tableAddButton').on('click', () => {
       $('#addColumnUI').toggle();
     });
     $('#companytable tbody tr').find('td:first :checkbox').each(function () {
        if ($(this).prop('checked') === 'true' ) {
          console.log('hi at least one is checked');
        } else {
          $('.exportButton').hide();;
        }
        });
      });
    $('#filterButton').on('click', function () {
      console.log('clickeq');
      $('#ClistWrapper-filterbar').toggleClass('deactivate');
    });
{% endblock %}