asgiref==3.2.10
coverage==5.3
Django==3.0.8
django-filter==2.3.0
django-session-security==2.6.6
flake8==3.8.4
importlib-metadata==2.0.0
mccabe==0.6.1
Pillow==7.2.0
psycopg2-binary==2.8.5
pycodestyle==2.6.0
pyflakes==2.2.0
pytz==2020.1
redis==3.5.3
selenium==3.141.0
sqlparse==0.3.1
urllib3==1.25.10
zipp==3.4.0
python-decouple==3.4
