{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://kit.fontawesome.com/86f900af62.js" crossorigin="anonymous"></script>
    <link rel="icon" 
      type="image/png" 
      href="{% static "core/img/logo/web/logo-web-transparent.png" %}">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="purple darken-4">
    <!--Navbar -->
    <nav class="purple darken-4">
      <div class="container" style="padding-top:1rem;">
        <div class="nav-wrapper">
          <a class="brand-logo" href="{% url 'core:home'%}">
           <img src="{% static "core/img/logo/web/logo-web.jpg" %}" width="200" height="50" alt="">
          </a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-trigger" data-target="dropdown1">Solutions</a></li>
            <li><a class="dropdown-trigger" data-target="dropdown2">Products</a></li>
            <li><a href="{% url "core:pricing" %}">Pricing</a></li>
          {% if request.user.is_authenticated %}
            <li><a class="dropdown-trigger" data-target="dropdownuser"><i class="material-icons">account_circle</i></a></li>
              
            </li>
          {% else %}
            <li class="nav-link"><a class="btn modal-trigger" href="#modal-login"> LOGIN </a></li>
            <li class="nav-link"><a class="waves-effect waves-light btn modal-trigger" href="#modal1"> SIGNUP </a></li>
          {% endif %} 
       </ul>
    </div>
    </div>
  </nav>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#">Market Research</a></li>
    <li><a href="#">Data Solutions</a></li>
    <li><a href="#">Risk Management</a></li>
    <li><a href="#">Sales & Marketing</a></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="#">Reports</a></li>
    <li><a href="#">Verisk insigths</a></li>
    <li><a href="{% url "core:companies" %}">Company Explorer</a></li>
    <li><a href="#">Company Data API</a></li>
  </ul>
  <ul id="dropdownuser" class="dropdown-content">
    <li><a href="#">{{ request.user.username }}</a></li>
    <div class="dropdown-divider"></div>
    <li><a href="#"><i class="material-icons">search</i> Notifications</a></li>
    <li><a href="{% url "auth:settings" %}"><i class="fas fa-wrench"></i> Settings</a></li>
    <li><a class="dropdown-item" href="{% url "auth:logout" %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
   </ul>
<!--/.Navbar --> 
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <footer>
      <div class="footer-main-part">
        <div class="">
          <img src="{% static "core/img/logo/web/logo-web-transparent.png" %}" width="80" height="30" alt="">
        </div>
        <div class="footer-list-wrapper">
          <h3 class="footer-header" style="font-size: 24px">Products & services</h3>
          <ul class="footer-list">
            <li class="footer-list-item">Risk Management</li>
            <li class="footer-list-item">Reports</li>
            <li class="footer-list-item">Data Solutions</li>
            <li class="footer-list-item">Market Research</li>
          </ul> 
        </div>
        <div class="footer-list-wrapper"> 
          <h3 class="footer-header" style="font-size: 24px">Search</h3>
          <ul class="footer-list">
            <a href="{% url "core:search" %}"><li class="footer-list-item"> Company Search </li></a>
            <a href="{% url "core:dsearch" %}"><li class="footer-list-item"> Director Search </li></a>
          </ul>
         </div>
        <div class="footer-list-wrapper"> 
          <h3 class="footer-header" style="font-size: 24px">Stay Connected</h3>
            <ul class="footer-list">
              <a href="{% url 'core:about' %}"><li class="footer-list-item"> About Us</li></a>
              <li class="footer-list-item"> Newsletter</li>
              <li class="footer-list-item"> Blog </li>
              <a href="{% url 'core:contact' %}"><li> Contact Us</li></a>
            </ul>
        </div>
      </div>
      <div class="footer-copyright">
        <p> Terms of Service | Privacy Policies | &copy;2020 Name.inc All Rights Reserved </p>
      </div>
    </footer>
    <!-- Modal Structure -->
   <div id="modal1" class="modal">
    <div class="modal-content">
      <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="I am not editable" id="disabled" type="text" class="validate">
          <label for="disabled">Disabled</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          This is an inline input field:
          <div class="input-field inline">
            <input id="email_inline" type="email" class="validate">
            <label for="email_inline">Email</label>
            <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
          </div>
        </div>
      </div>
    </form>
    </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
    </div>
    <!-- modal login -->
    <div id="modal-login" class="modal">
      <div class="modal-content">
        <div class="card d-flex flex-column loginform">
    <div class="card-body">  
 <form action="{% url 'auth:login'%}" method="post" id="login-form">
    {% csrf_token %}
      <div class="row">
        <div class="input-field">
          <input id="username" type="text" class="validate" name="username">
          <label for="username">UserName</label>
        </div>
      </div>  
      <div class="row">
        <div class="input-field ">
          <input id="password" type="password" class="validate" name="password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="col md6 s6">
          <small>Reset your password.</small>
          <input type="hidden" name="next" value="{{ next }}"/>
        </div>
        <div class="col md6 s6">
          <button
           class="btn btn-primary loginbutton">
           Log In
          </button>
        </div>
      </div>    
  </form>
 </div>
 <div class="card-footer">
  No register yet?
    <a href="{% url "auth:signup" %}"><button class="btn btn-secondary signupbutton">Sign up</button></a>
 </div> 
</div>
      </div>
    </div>
    <!-- end modal login-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
    <script> 
      var csrftoken = Cookies.get('csrftoken');
      function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
      $(document).ready(function(){
        {% block domready %}
          $(".dropdown-trigger").dropdown();
          $('.modal').modal();
        {% endblock %}
      });

    </script>
    <script>
      {% block js %}
      {% endblock %}
    </script>
    {% include 'session_security/all.html' %}
  </div>  
  </body>
</html>