{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://kit.fontawesome.com/86f900af62.js" crossorigin="anonymous"></script>
    <link rel="icon" 
      type="image/png" 
      href="{% static "core/img/logo/web/logo-web-transparent.png" %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="container-fluid">
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg default-color">
      <a class="navbar-brand" href="#">
        <img src="{% static "core/img/logo/web/logo-web.jpg" %}" width="80" height="30" alt="">
      </a>
      <form class="form-inline">
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
      </form>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item dropdown">
              <a class="nav-link" id="navbarDropdownMenuLink-01" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Solutions
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-default"
               aria-labelledby="navbarDropdownMenuLink-01">
                <a class="dropdown-item" href="#">Market Research</a>
                <a class="dropdown-item" href="#">Data Solutions</a>
                <a class="dropdown-item" href="#">Risk Management</a>
                <a class="dropdown-item" href="#">Sales & Marketing</a>

              </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link " id="navbarDropdownMenuLink-02" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Products
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-default"
             aria-labelledby="navbarDropdownMenuLink-02">
              <a class="dropdown-item" href="#">Reports</a>
              <a class="dropdown-item" href="#">Verisk insigths</a>
              <a class="dropdown-item" href="{% url "core:companies" %}">Company Explorer</a>
              <a class="dropdown-item" href="#">Company Data API</a>

            </div>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "core:pricing" %}">Pricing</a>
          </li>
          {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link " id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-default"
               aria-labelledby="navbarDropdownMenuLink-333">
                <a class="dropdown-item" href="#">{{ request.user.username }}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><i class="fas fa-bell"></i> Notifications</a>
                <a class="dropdown-item" href="{% url "auth:settings" %}"><i class="fas fa-wrench"></i> Settings</a>
                <a class="dropdown-item" href="{% url "auth:logout" %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
              </div>
            </li>
          {% else %}
            <li class="nav-link"><a href="{% url "auth:login" %}"> LOGIN </a></li>
          {% endif %} 
       </ul>
    </div>
  </nav>
<!--/.Navbar --> 
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <footer>
      <div class="footer-main-part">
        <div class="">
          <img src="{% static "core/img/logo/web/logo-web-transparent.png" %}" width="80" height="30" alt="">
        </div>
        <div class="footer-list-wrapper">
          <h3 class="footer-header">Products & services</h3>
          <ul class="footer-list">
            <li class="footer-list-item">Risk Management</li>
            <li class="footer-list-item">Reports</li>
            <li class="footer-list-item">Data Solutions</li>
            <li class="footer-list-item">Market Research</li>
          </ul> 
        </div>
        <div class="footer-list-wrapper"> 
          <h3 class="footer-header">Search</h3>
          <ul class="footer-list">
            <li class="footer-list-item"> Company Search </li>
            <li class="footer-list-item"> Director Search </li>
          </ul>
         </div>
        <div class="footer-list-wrapper"> 
          <h3 class="footer-header">Stay Connected</h3>
            <ul class="footer-list">
              <li class="footer-list-item"> Newsletter</li>
              <li class="footer-list-item"> Blog </li>
            </ul>
        </div>
      </div>
      <div class="row">
        <p class="text-right"> Terms of Service | Privacy Policies | &copy;2020 Name.inc All Rights Reserved </p>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
    <script> 
      var csrftoken = Cookies.get('csrftoken');
      function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
      $(document).ready(function(){
        {% block domready %}
        {% endblock %}
      });
    </script>
    {% block js %}
    {% endblock %}
  </div>  
  </body>
</html>