{% extends "core/base.html" %}
{% block title %} {{ company }} {% endblock %}
{% block content %}
<div class="content m-4">
  <div class="grey lighten-2">
    <div class="company-header">
      <div>
        {% if company.logo.url %}
        <img src="{{ company.logo.url }}" width="100" height="100">
        {% endif %}
        <h1 class="pull-left"> {{ company.name }}</h1>
      </div>
      <span class="count">
       {{ total_views }} view{{ total_views|pluralize }}
      </span>
      <a href="#" data-id="{{ company.id }}" data-action="{% if request.user in company.followers.all %}un{% endif %}follow" class="follow button">
        {% if request.user in company.followers.all %}
          Unfollow
        {% else %}
          Follow
        {% endif %}
      </a>
    </div>
    <div class="d-flex align-items-start">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-summary-tabs" data-bs-toggle="pill" data-bs-target="#v-pills-summary" type="button" role="tab" aria-selected="v-pills-summary" aria-selected="true">
          Summary
        </button>
        <button class="nav-link" id="v-pills-team-tabs" data-bs-toggle="pill" data-bs-target="#v-pills-team" type="button" role="tab" aria-selected="v-pills-team" aria-selected="false">
          Team
        </button>
        <button class="nav-link" id="v-pills-documents-tabs" data-bs-toggle="pill" data-bs-target="#v-pills-documents" type="button" role="tab" aria-selected="v-pills-documents" aria-selected="false">
          Documents
        </button>
        <button class="nav-link" id="v-pills-competitors-tabs" data-bs-toggle="pill" data-bs-target="#v-pills-competitors" type="button" role="tab" aria-selected="v-pills-competitors" aria-selected="false">
          Competitors
        </button>
        <button class="nav-link" id="v-pills-news-tabs" data-bs-toggle="pill" data-bs-target="#v-pills-news" type="button" role="tab" aria-selected="v-pills-news" aria-selected="false">
          News
        </button>
     </div>
      <div class="tab-content" id="v-pills-tabContent">
       <div id="v-pills-summary" class="tab-pane fade show active" role="tabpanel" aria-labelledby="v-pills-summary-tabs">
        <div class="row">
      <div class="col-md-6">
        {{ company.profile }}</br>
        <a href="{{company.contact.website}}">{{ company.contact.website }}</a>
        <h4> Categorie </h4>
        {% for category in company.categories.all %}
          <span class="badge badge-success"><a href="{{ category.get_absolute_url }}">{{ category }}</a></span>
        {% endfor %}
       </div>
      <div class="col-md-6">
        <h3> Contact </h3>
        {{ company.contact.country }}</br>
        {{ company.contact.city }}</br>
        {{ company.contact.house_number }}, {{ company.contact.street }}</br>
        {{ company.contact.postal_code }}
      </div>
    </div>
      </div>
       <div id="v-pills-team" class="tab-pane fade" role="tabpanel" aria-labelledby="v-pills-team-tabs">
    {% for employe in employes %}
      <li><a href="{{ employe.get_absolute_url }}">{{ employe.first_name }}</a></li>
    {% empty %}
      <p> No records. </p>
    {% endfor %}
  </div>
       <div id="v-pills-documents" role="tabpanel" class="tab-pane fade"  role="tabpanel" aria-labelledby="v-pills-documents-tabs">
    {% if documents %}
      <table class="table table-company-list">
        <thead>
          <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Description</th>
            <th>Document</th>
          </tr>
        </thead>
        <tbody>
          {% for document in documents %}
            <tr>
              <td>{{ document.created }}</td>
              <td>{{ document.doc_type.type_name }}</td>
              <td>{{ document.name }}</td>
              <td><a href="{{ document.document.url }}">view pdf </a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p> No records. </p>
    {% endif %}
  </div>
       <div id="v-pills-news" role="tabpanel" class="tab-pane fade" aria-labelledby="v-pills-news-tabs">
    {% for news in news %}
      {{ news.created|date:"M d, Y" }}
      {{ news.source }}
      <a href="{{ news.link }}">{{ news.title }}</a>
    {% empty %}
      <p> No records. </p>
    {% endfor %}

  </div>
       <div id="v-pills-competitors" role="tabpanel" class="tab-pane fade" aria-labelledby="v-pills-competitors-tabs">
        <table class="table table-bordered table-company-list">
      <tbody>
      {% for company in similar_companies %}
         <tr>
           <th><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></th>
           <td>{{ company.contact.country }}, {{company.contact.city}}</td>
           {% if company.operating_status == 'DI' %}
             <td><span class="badge badge-danger">DISSOLVED</span></td>
           {% elif company.operating_status == 'AC'%}
             <td><span class="badge badge-success">ACTIVE</span></td>
           {% elif company.operating_status == 'LI'%}
             <td><span class="badge badge-warning">LIQUIDATION</span></td>
           {% elif company.operating_status == 'DO'%}
             <td><span class="badge badge-secondary">DORMANT</span></td>
           {% endif %}
          </tr>
      {% endfor %}
      </tbody>
   </table>
       </div>
      </div>
    </div>


</div>
</div>
{% endblock %}
{% block domready %}
  $('a.follow').click(function(e){
    e.preventDefault();
    $.post(
      '{% url "core:user_follow" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok'){
          var previous_action = $('a.follow').data('action');
          $('a.follow').data('action', previous_action == 'follow' ? 'Unfollow' : 'follow');
          $('a.follow').text(previous_action == 'follow' ? 'Unfollow' : 'Follow');
        };
      },
    );
  });
  $('.tabs').tabs();
{% endblock %}