{% extends "core/base.html" %}
{% block title %} Dashboard {% endblock %}
{% block content %}
  <div class="row">
    <aside class="col s12 m3 13">
      <div>
         Hi, welcome {{ user.username }}
      </div>   
      <div class="card center">
        <h1 class="card-action"> Company you follow </h1>
        <div class=" card-content white-text center">
          {% for company in fcompany %}
            <a href="{{ company.get_absolute_url }}">{{ company.name }}</a>
          {% empty %}
             you dont follow company yet  
          {% endfor %}
        </div>  
      </div>
      <div class="explore card  card-panel center">
        <h1 class="card-title"> Explore</h1>
        <div class="card-body">
          <a href="{% url "core:companies" %}"> Search Companies </a>
          <a href="#"> Search Person Or Role</a>
        </div>  
      </div>
      <div class="mycompany card card-panel center">
        <h1 class="card-title"> My company </h1>
        <div class="card-body">
          <a href="#"> Add a Company </a>
          <a href="#"> Verify My company </a>
        </div>  
      </div>
    </aside> 
    <div class="col s12 m6 13">
      <div class="card d-flex">
        Content Content
      </div>
    </div>  
    <ol class="collection with-header col m3 13">
      <h1 class="collection-header"> Trending Company </h1>
      {% for company in most_viewed %}
        <li class="collection-item">
          <a href="{{ company.get_absolute_url }}">{{ company.name }}</a>
        </li>
      {% endfor %} 
    </ol>
  </div> 
{% endblock %}