{% extends "core/base.html" %}
{% load static %}
{% block title %} Test App {% endblock %}
{% block content %}
  <div class="header">
    <div class="banner">
      <h1 class="banner-heading">Business information for Corporate Risk, B2B Marketing and Sales</h1>
      <p class="banner-paragraph">
      </p>
      <!-- company's search forms landing page-->
      <form class="form-inline banner-form" action="{% url 'core:search' %}">
        {% csrf_token %} 
        <div class="form-group mr-2">
            <label class="sr-only" for="inputEmail">Company</label>
            <input class="form-control" id="inputsearch" placeholder="Company" type="search" name="query">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
     </form>
    </div>
  </div>
{% endblock %}