{% extends "core/base.html" %}
{% block title %} Company List {% endblock %}
{% block content %}
  <div class="content m-4">
    <h1 class="mb-3" style="font-size: 40px"> Companies </h1>
    <div>
      <div class="toggleVue mb-4" style="display:flex;justify-content:space-between;">
          <h1> {{ companiesNumber }} Results</h1>
          <div class="togglefilter" >
              <button class="exportButton">Export csv </button>
              <label class="p-2"><input type="checkbox" id="checkFoundedDate"/><span class="p-1">Founded Date</span></label>
              <label class="p-2"><input type="checkbox" id="checkCompanyType"/><span class="p-1">Company Type</span></label>
              <a class="dropdown-trigger p-2" href="#" data-activates="checkdropdown"><i class="fa fa-ellipsis-v"></i></a>
          </div>
    </div>
    <table id="companytable" class="table table-hover" >
           <thead>
            <tr>
              <td><label><input type="checkbox" id="checkall" /><span> </span></label></td>
              <td> Name </td>
              <td> Industries </td>
              <td> Location </td>
              <td> Description </td>
              <td> Status</td>
              <td> Founded Date </td>
              <td> Company Type </td>
            </tr>
           </thead>
           <tbody>
           {% for company in companies %}
              <tr>
                <td>
                    <label>
                        <input type="checkbox" /><span> </span>
                    </label>
                </td>
                <td>
                    <img src="{{ company.logo.url }}" width="30" height="30">
                    <a href="{{ company.get_absolute_url }}">{{ company.name }}</a>
                </td>
                <td>
                    {% for industrie in company.categories.all %}
                      {{ industrie }}
                    {% endfor %}
                </td>
                <td>
                    {{ company.contact.country }}, {{company.contact.city}}
                </td>
                <td>
                    {{ company.profile|truncatechars:30 }}
                </td>
                {% if company.operating_status == 'DI' %}
                  <td><span class="badge bg-danger">DISSOLVED</span></td>
                {% elif company.operating_status == 'AC'%}
                  <td><span class="badge bg-success">ACTIVE</span></td>
                {% elif company.operating_status == 'LI'%}
                  <td><span class="badge bg-warning">LIQUIDATION</span></td>
                {% elif company.operating_status == 'DO'%}
                  <td><span class="badge bg-info">DORMANT</span></td>
                {% endif %}
                <td>
                    {{ company.founded_date }}
                </td>
                <td>
                    {{ company.company_type }}
                </td>
               </tr>
           {% endfor %}
           </tbody>
    </table>
    <div id="container" data-url={% url 'core:category_chart' %}></div>
    </div>
  </div>
{% endblock %}
{% block js %}
    $(() => {
      $('td:nth-child(7)').hide();
      $('td:nth-child(8)').hide();
      $('#checkall').on('click', () => {
        var checkedStatus = $('#checkall').prop("checked");
        $('#companytable tbody tr').find('td:first :checkbox').each(function () {  
        $(this).prop('checked', checkedStatus);
        });
      });
     $('#checkFoundedDate').on('click', () => {
       $('td:nth-child(7)').toggle();
      });
     $('#checkCompanyType').on('click', () => {
       $('td:nth-child(8)').toggle();
      });
      // when checkbox is check export button appears.

     $('#companytable tbody tr').find('td:first :checkbox').each(function () {
        if ($(this).prop('checked') === 'true' ) {
          console.log('hi at least one is checked');
        } else {
          $('.exportButton').hide();;
        }
        });
      });   

{% endblock %}