{% extends "core/base.html" %}
{% block title %} Company List {% endblock %}
{% block content %}
  <form method="get">
    {{ filter.form.as_p }}
    <input type="submit" value="Filter">
  </form>
  {% if not filter.qs %}
        <table class="table table-bordered table-company-list">
           <tbody>
           {% for company in companies %}
              <tr>
                <th><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></th>
                <td>{{ company.contact.country }}, {{company.contact.city}}</td>
                {% if company.operating_status == 'DI' %}
                  <td><span class="badge badge-danger">DISSOLVED</span></td>
                {% elif company.operating_status == 'AC'%}
                  <td><span class="badge badge-success">ACTIVE</span></td>
                {% elif company.operating_status == 'LI'%}
                  <td><span class="badge badge-warning">LIQUIDATION</span></td>
                {% elif company.operating_status == 'DO'%}
                  <td><span class="badge badge-secondary">DORMANT</span></td>
                {% endif %}
               </tr>  
           {% endfor %}
           </tbody>
        </table>
  {% else %}
        <table class="table table-bordered table-company-list">
           <tbody>
           {% for company in filter.qs %}
              <tr>
                <th><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></th>
                <td>{{ company.contact.country }}, {{company.contact.city}}</td>
                {% if company.operating_status == 'DI' %}
                  <td><span class="badge badge-danger">DISSOLVED</span></td>
                {% elif company.operating_status == 'AC'%}
                  <td><span class="badge badge-success">ACTIVE</span></td>
                {% elif company.operating_status == 'LI'%}
                  <td><span class="badge badge-warning">LIQUIDATION</span></td>
                {% elif company.operating_status == 'DO'%}
                  <td><span class="badge badge-secondary">DORMANT</span></td>
                {% endif %}
               </tr>  
           {% endfor %}
           </tbody>
        </table>
  {% endif %}
  <div id="container" data-url={% url 'core:category_chart' %}></div>
{% endblock %}
{% block js %}
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    $.ajax({
      url: $("#container").attr("data-url"),
      dataType: 'json',
      success: function(data){
        Highcharts.chart("container", {
         chart: { type: 'column'},
         title: { text: 'category chart'},
         xAxis: { categories: data.labels },
         yAxis: { title: { text: 'No of companies '}},
         series: [{
           name: 'cat',
           data: data.data
         }]
        });
      }
    });
  </script>          
{% endblock %}